:root {
  --background: #000;
  --primary-color: #E50914;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  font-family: 'Sans', times, serif;
}

header {
  padding: 1.3rem 0 0;
} 

.container {
  padding: 0.5rem 0 0;
  margin: 0 1.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}

.logo {
  color: var(--primary-color);
  font-family: 'Arial Black', Times;
  font-size: 1.5rem;
}

