:root {
  --background: #141414;
  --primary-color: #E50914;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
}

header .container {
  padding: .5rem 0;
  margin: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  color: #fff;
  font-family: Impact,'Arial Narrow Bold', sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  background-color: #EA2228;
  padding: 4px;
}

header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 1rem;
}

header nav a:hover {
 color: #fff;
}

/* main-movie */
.main-movie {
  font-size: 1rem;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)100%),
   url('../images/fundo.jpg');

  height: 450px;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-movie .description {
  margin-top: 10px;
  margin-bottom: 2.5rem;
}

.main-movie .title {
  margin-top: 15%;
  font-size: 3.75rem;
  font-family: 'Times New Roman', Times, serif;
}

.button {
  background-color: rgba(0, 0, 0, .5);
  border: none;
  border-radius: .2rem;
  color: #fff;

  padding: 15px 30px;
  margin-right: 1rem;
  font-size: .75rem;

  cursor: pointer;
  transition: .3s ease all;
}

.button:hover {
  background-color: #fff;
  color: #141414;
}

.button i {
  margin-right: 5px;
}

.container {
  margin-left: 20px;
}

.main-movie .container {
  width: 50%;
  margin-bottom: 100px;
}
 
.subtitle {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.owl-next span {
  width: 110px;
  height: 95%;
  background: linear-gradient(to left, rgba(0,0,0,1)5%, rgba(0,0,0,0)100%);
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
}

.owl-prev span {
  width: 110px;
  height: 95%;
  background: linear-gradient(to right, rgba(0,0,0,1)5%, rgba(0,0,0,0)100%);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
}

div.owl-dots {
  display: none;
}

footer {
  padding: 1.5rem;
}

footer .container {
  margin: 0 auto;
  text-align: center;
}

footer p {
  font-weight: 500;
  letter-spacing: 2px;
}

footer a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}